In [22]:
import sqlite3
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [23]:
# Create your connection.
cnx = sqlite3.connect('db.sqlite3')

pmts = pd.read_sql_query("SELECT * FROM gui_payments", cnx)

In [24]:
pmts['creation_date'] = pd.to_datetime(pmts['creation_date'])

In [25]:
pmts.head()

,creation_date,payment_hash,value,fee,status,index,chan_out,chan_out_alias,keysend_preimage,cleaned,rebal_chan,message
0,2022-07-03 17:28:38,dcd25adc5845a3f981ec04b583a864d9e75daf1441c7f7...,36092.0,2.166,2,1,817437417321398273,needleInTheHay,None,0,None,None
1,2022-07-05 22:44:52,03a9939bf42d62bb7c6a9a9e70696b0a715abe70db619b...,52980.0,0.000,3,2,None,None,None,0,None,None
2,2022-07-06 12:14:10,cc56a9145bf9c7a1d0ea8e36efbb215d0c25957b608b93...,100000.0,51.256,2,3,817437417321398273,needleInTheHay,None,0,817789261050544129,None
3,2022-07-06 12:16:45,c36b2a6ec6013b3b19235c2716450b36e876961dbf5f69...,1000000.0,666.355,2,4,817437417321398273,needleInTheHay,None,0,817789261050544129,None
4,2022-07-06 12:18:09,2165b81088e53f431ca9b01fd7b6ed518eaf7fa33d534d...,500000.0,247.068,2,5,817437417321398273,needleInTheHay,None,0,817789261050544129,None

In [26]:
pmts['creation_date'][-1:]

3686   2022-11-06 16:24:32
Name: creation_date, dtype: datetime64[ns]

In [27]:
pmts = pmts.set_index('creation_date')

In [28]:
pmts['count'] = 1

In [29]:
pmts.head()

,payment_hash,value,fee,status,index,chan_out,chan_out_alias,keysend_preimage,cleaned,rebal_chan,message,count
creation_date,,,,,,,,,,,,
2022-07-03 17:28:38,dcd25adc5845a3f981ec04b583a864d9e75daf1441c7f7...,36092.0,2.166,2,1,817437417321398273,needleInTheHay,None,0,None,None,1
2022-07-05 22:44:52,03a9939bf42d62bb7c6a9a9e70696b0a715abe70db619b...,52980.0,0.000,3,2,None,None,None,0,None,None,1
2022-07-06 12:14:10,cc56a9145bf9c7a1d0ea8e36efbb215d0c25957b608b93...,100000.0,51.256,2,3,817437417321398273,needleInTheHay,None,0,817789261050544129,None,1
2022-07-06 12:16:45,c36b2a6ec6013b3b19235c2716450b36e876961dbf5f69...,1000000.0,666.355,2,4,817437417321398273,needleInTheHay,None,0,817789261050544129,None,1
2022-07-06 12:18:09,2165b81088e53f431ca9b01fd7b6ed518eaf7fa33d534d...,500000.0,247.068,2,5,817437417321398273,needleInTheHay,None,0,817789261050544129,None,1

In [30]:
pmts['status'].unique()

array([2, 3], dtype=int64)

In [31]:
pmts.groupby('status').sum()

              value        fee     index  cleaned  count
status
2       106596092.0  42729.989  10320796        0   1538
3        46488366.0      0.000  21192431        0   2149

In [32]:
pmts.groupby('value').sum()

                 fee  status     index  cleaned  count
value
5000.0       220.041    6289  26778941        0   2362
10000.0       83.770    1012   2084775        0    385
20000.0       30.100       2     13236        0      1
25000.0        6.850       5     11442        0      2
36092.0        2.166       2         1        0      1
40000.0        0.000      96    166608        0     32
50000.0     1125.118     640   1171885        0    226
52980.0        0.000       3         2        0      1
100000.0    9999.149     554    447025        0    253
200000.0   25573.686     831    830102        0    390
250000.0      83.302      10      1333        0      4
300000.0       0.000       6       389        0      2
420584.0       0.000       3        75        0      1
500000.0    2057.027      56      4703        0     21
964802.0       0.000       3        50        0      1
1000000.0    666.355       5        25        0      2
1250000.0      1.750       2       176        0      1
2150000.0      5.300       2      1193        0      1
2500000.0   2875.375       2      1266        0      1

In [39]:
pmts_1 = (pmts[pmts['status']==2])

In [40]:
pmts_1.groupby('chan_out_alias').sum()

,value,fee,status,index,cleaned,count
chan_out_alias,,,,,,
0337cb9d68ee1a07e2c2,3665000.0,1246.277,582,2849038,0,291
ACINQ,600000.0,312.000,12,10381,0,6
BCash_Is_Trash,1075000.0,708.614,50,163326,0,25
BankoftheSovereignIndividual,5800000.0,1000.509,72,64556,0,36
Bekassine_BTC_Node,50000.0,2.739,20,117853,0,10
Enlightened,2350000.0,64.302,6,4211,0,3
JustinTrudeau,8470000.0,4756.891,68,90012,0,34
LNBIG.com [lnd-01],11350000.0,3506.708,122,158449,0,61
LND-BTC-LND,500000.0,5.000,2,29,0,1
LightningNetwork.Plus,4120000.0,1807.369,434,1884541,0,217
MUISCA,1800000.0,316.460,24,19756,0,12
Moon (paywithmoon.com),12675000.0,2932.450,204,262983,0,102
Redwing Cherokee,1100000.0,13.700,16,14627,0,8
TheRollingSatoshis,8450000.0,3244.055,86,123169,0,43
WalletOfSatoshi.com,5200000.0,3134.491,58,65348,0,29
ZerofeeCLN,4395000.0,897.446,604,3174235,0,302
aybabtu,4350000.0,2716.064,44,23325,0,22
bravenewworld,2600000.0,2200.031,28,14129,0,14
cornhauler.express,3250000.0,1534.828,26,21030,0,13
freedom,2900000.0,472.130,32,31510,0,16
i'llTryAnythingOnce,1150000.0,806.318,40,99972,0,20
needleInTheHay,14286092.0,8560.929,194,144213,0,97
outsidia-ln-node,50000.0,6.150,2,5189,0,1
pencilrocket✏,6410000.0,2484.528,350,978914,0,175